.App {
  text-align: center;
  margin-top: 4rem;
}

body {
  background-color: black;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 840px 840px;
  margin-bottom: 10rem;
}

@font-face {
  src: url(./fonts/Blah.ttf);
  font-family: chalk-text;
}

@font-face {
  src: url(./fonts/SqueakyChalkSound.ttf);
  font-family: chalk-header;
}

@font-face {
  src: url(./fonts/Chalk.ttf);
  font-family: chalk;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  color: whitesmoke;
  font-family: chalk;
  font-size: 52px;
}

#start {
  background-color: black;
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  border-style: dashed;
  border-radius: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}

#rules1 {
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  margin-right: 20rem;
}

#rules2 {
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  margin-left: 15rem;
}

#rules3 {
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  
}

#items {
  justify-content: 
}

#rock {
  background-color: black;
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  border-style: dashed;
  border-radius: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  outline: none;
  
}

#paper {
  background-color: black;
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  border-style: dashed;
  border-radius: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  outline: none;
  
}

#scissors {
  background-color: black;
  color: whitesmoke;
  font-family: chalk-header;
  font-size: 24px;
  border-style: dashed;
  border-radius: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  outline: none;
}

#dirt {
  position: absolute;
  margin-left: 10rem;
  margin-top: 2.5rem;
}

.message {
  color: whitesmoke;
  font-family: chalk-text;
  font-size: 25px;
}

.computer-image {
  transform: scaleX(-1);
}

#battle {
  display: inline-flex;
}


