.App {
  text-align: center;
}

body {
  background-color: black;
}

@font-face {
  src: url(./fonts/Chalk-Line.ttf);
  font-family: chalk-header;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title {
  color: whitesmoke;
  font-family: chalk-header;
}

#rules {
  color: whitesmoke;
}

.message {
  color: whitesmoke;
}

.computer-image {
  transform: scaleX(-1);
}

#battle {
  display: inline-flex;
}


